/*******************************************************************************
 *                                                                             *
 * The CSS for MiniDockFX d to dock the content                                *
 *                                                                             *
 ******************************************************************************/
.minidockfx {
    -mdf-background-color0: white;
    -mdf-background-color1: #fafafa;
    -mdf-background-color2: #eeeeee;
    -mdf-background-color3: #bdbdbd;
    -mdf-background-color4: #616161;
    -mdf-background-colorA1: #1a237e;
    -mdf-background-colorA2: #3949ab;
    -mdf-accent-color1:#ef6c00;
    -mdf-accent-color2:#689f38;
}




.minidockfx-pane {
    -fx-background-color: -mdf-background-color1;
}


.minidockfx-splitpane {
    -fx-background-color: -mdf-background-color1;
}

.minidockfx-splitpane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}

.minidockfx-tabbed-dock-pane {
    -fx-effect: dropshadow(three-pass-box, dimgray, 10, 0.25, 0,10);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 2
}


.minidockfx-tabbed-dock-tabpane {
    -fx-background-color: red;
}

.minidockfx-splitpane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}

.minidockfx-tab-box {

}
.minidockfx-tab-label {
    -fx-text-fill: WHITE;
    -fx-font-size: 24px;
}

.minidockfx-tab-close {
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-pref-width: 32px;
}

.minidockfx-tab-close .ikonli-font-icon {
    -fx-fill: WHITE;
    -fx-icon-size: 32px;
}

.minidockfx-tab-close:hover .ikonli-font-icon {
    -fx-fill:#ef6c00;
}



/*
* This just overwrites the
 */

/* https://github.com/jfoenixadmin/JFoenix/blob/ca340d0ce3a4ce8379f7ebb6aa58cf9e35de5168/jfoenix/src/main/resources/com/jfoenix/assets/css/controls/jfx-tab-pane.css */
.jfx-tab-pane .tab-header-background {
    -fx-background-color: -mdf-background-colorA2;
}
.jfx-tab-pane .headers-region > .tab-selected-line{
    -fx-pref-width: 1px !important;
    -fx-pref-height: 3px;
}
.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: -mdf-accent-color1;
}


ExampleTabview1 {
    -mdf-background-colorA1: grey;
}